
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block a {
    color: black; 
    text-decoration: none; 
}

.block {
    border: 2px solid rgb(134, 128, 100) ; 
    padding: 10px; 
    margin: 10px; 
    border-radius: 18px;
    background-color:  rgb(134, 112, 59); 
    text-align: center; 
    display: block; 
}

body {
    background-color: rgb(230,218,166 );
    font-size: 19px;
}